@import "font.css";

body {
    background-color: #e5edf0;
    font-family: HelveticaRegular;
}

.search-row {
    margin: 0;
}


/* HEADER */

.header {
    background-color: #f5f8fa;
}

.header-row {
    width: 100%;
    flex-wrap: nowrap;
    margin: 0;
}

.header-home {
    margin-left: 4%;
}

.navbar-toggler {
    border: none;
    color: #2AA3EF !important;
    font-size: 0.48rem !important;
    font-weight: 900 !important;
}

.header-icon {
    font-weight: 900 !important;
}

.navbar {
    flex-wrap: nowrap;
    padding: 0;
}

.navbar-toggler {
    border: none;
    color: #2AA3EF !important;
    font-size: 0.48rem !important;
    font-weight: 900 !important;
}

.navigation {
    max-width: 600px;
    width: 100%;
}

.navigation-item {
    text-decoration: none;
    color: #66757f;
    transition: 0.5s all ease-out;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.navigation-item:hover {
    text-decoration: none;
    color: #1d2129;
}

.navigation-item__img {
    margin-right: 5px;
}

.navigation-list {
    display: flex;
}

.search__input {
    border: none;
    text-indent: 10px;
    height: 100%;
    width: 85%;
    background-color: inherit;
    font-weight: 700;
    font-size: 13px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    outline: none;
}

.search__input::-webkit-input-placeholder {
    color: #dadee0;
}

.search-block {
    height: 32px;
    background-color: #a3acb2;
    color: #dadee0;
    font-weight: 700;
    font-size: 13px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search__img {
    width: 21px;
    height: 21px;
    margin-right: 5px;
}

.burger-btn {
    padding-left: 0px!important;
}

.burger-btn:focus {
    outline: none;
}

.twit-btn {
    width: auto;
    height: 30px;
    background-color: #4ca2f5;
    border-radius: 15px;
    font-size: 0.8rem;

}

@media (max-width: 370px) {
    .twitter__logo {
        display: none;
    }
}


/* MAIN-BLOCK */


.search-main {
    margin-top: 15px;
    margin-bottom: 30px;
    padding: 0;
    display: block;
}

.search__profile-block {
    padding: 0;
    margin: 15px;
    margin-top: 0;
    background-color: #ffffff;
    min-height: 140px;
    min-width: 250px;
    overflow: visible;
}

.search-background {
    background-color: #4ca2f5;
    height: 85px;
}

.search__profile-img {
    width: 60px;
    height: 60px;
    background-color: #4ca2f5;
    border: 3px solid #ffffff;
    border-radius: 15px;
    position: relative;
    top: 55px;
    margin-left: 15px;
    left: 0;
}

.search-card {
    color: #667785;
    width: 250px;
    border: none;
    background-color: unset;
}

.search-username {
    padding-left: 85px;
}

.search-name {
    font-weight: bold;
    color: #000000;
}

.search-name:hover {
    text-decoration: none;
}

.search-nickname {
    color: #657786;
}

.search-info {
    display: flex;
    justify-content: space-around;
    width: 250px;
}

.search__info-title {
    color: #657786;
}

.search__info-amount {
    color: #657786;
    margin-left: 23px;
}

.form__search-tape {
    background-color: white;
    height: 100px;
    margin-bottom: 5px;
    min-width: 220px;
}

.form__finder-img {
    background-color: #999999;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.form__finder-name {
    margin: 0;
    color: #179ece;
}

.form__finder-nickname {
    color: #999999;
    margin: 0;
}

.form__finder-following {
    border-radius: 15px;
    width: 120px;
    border: 0;
    color: white;
    background-color: #56a2c6;
}

.form__search {
    width: 100%;
    border: 0;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
    background-color: #e5edf0;
    display: none;
    min-width: 220px;
}

.form__submit-search {
    background-color: #56a2c6;
    border: 0;
    width: 20px;
    height: 20px;
    display: none;
    background-image: url(../img/search_icon.svg);
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 5px;
}

@media (max-width:770px) {
    .form__search {
        display: block;
    }
    .form__submit-search {
        display: block;
    }
}

@media (min-width: 540px) and (max-width: 990px) {
    .card {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
    }
}
